body{
  background-color: aliceblue;
}  
 
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
  /* header */
  .header{
    background-image: url(Assets/Hero-bg.png);
    

    
   
  }
  .nav-title{
    color: #4E47FF;
  }
  .nav-title{
    font-weight: 800;
    font-size: 55px;
    
} 
 .Banner-style{
 
 }
  
  .btn-color{
    background-color:#4E47FF;
    font-size: 30px;
    font-weight: bold;
    width: 170px;
    height: 70px;
      border-radius: 15px;
       cursor: pointer;
       border-color:#4E47FF;
       color: aliceblue;
       font-family: 'Times New Roman', Times, serif;
   
  
  }
.btn-color:hover{
  background-color: blueviolet;
  
}
 nav{
    display: flex;
   align-items: center;
   justify-content: space-between;
    margin-right: 200px;
    margin-left: 200px;
 }
.header-Template{
  text-align: center;
  font-weight: bold;
  font-size: 65px;
  color: #252432;

  


}
 .header-section{
  text-align: center;
    padding: 100px 400px;
 

  
 }  
.button-style {
  width: 250px;
  height: 60px;
  font-style: italic;
  
}
/* main  */
 
.main-section{
  display: flex;
  justify-content: space-between;
  margin: 50px 110px ;
  align-items: center;
  
  
}
.main-title{
  font-size: 42px;
  color: #252432;
}
.main-discription{
color:#525255;
font-size: 24px;
 
}
.main-button{
  width: 300px;
  font-weight: bold;
  
   
}

.main-pic{
 border-radius: 48px;
 }
 /* div */
   .title{
   text-align: center;
   font-size: 38px;
   font-weight: bold;
   }
 .item-title{
  
  font-size: 50px;
  font-weight: 800;
 }
 .item-description{
  font-size:20px;
 }
.about-items{
  display: flex;
   justify-content: space-around;
  
}
 .Users{
  background-color:#d2d2e7;
  margin:120px 120px;
  border-radius: 12px;
   font-style: italic;
   font-size:20px;
   font-weight:400;
   

 }
 /* testimonial-section*/
.h1-hading{
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  color:  #252432;
}

.testimonial-section {
  display: flex; 
  justify-content: center;
  gap: 20px;
  padding: 50px;
  position:relative;
   
}

.testimonial-card {
  background-color: white;
  padding: 20px;
  width: 290px;
  height:300px ;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(2, 2, 2, 0.1);
  transition: transform 0.3s;
}

 .testimonial-card:hover{
  border: 2px lawngreen dashed;
  display: block;
 } 
.stars {
  color: #fbbf24; 
  font-size: 50px;
  margin-bottom: 10px;
}

h3 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

p {
  color: #4b5563;  
  font-size: 18px;
  margin: 10px 0 20px ;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewer img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.reviewer strong {
  font-size: 14px;
  color: #374151;  
}

.reviewer span {
  font-size: 12px;
  color: #9ca3af;  
}
/* .skill-continer */
.skill-continer{
  text-align: center;
  background-color: white;
 justify-content: space-around;
 display: block;
 margin: 0px 150px;
}
 .skill-title{
  font-size: 50px;
  font-weight:800;
  margin-top:70px ;
 }
 .skill-pic{
  border-radius: 48px;
  margin-bottom: 70px;
 }
 /* footer */
   .contact-section{
    display: flex;
    justify-content: space-between;
   }
    .contact-left {
    font-size: 50px;
    font-weight: bold;
   }
  
 

.sr-only input[type="email"],
.sr-only input[type="text"],
.sr-only textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: #333;
    color: var(--text-color);
    font-size: 16px;
  }
 